/* HEADER */
header{
  margin-top: 20px;
  justify-content: space-between;
  background: linear-gradient(to left, #993deab8, #560070cf);
  color: #FFF;
  height: 90px;
  text-align: center;
  padding: 1em;
}
header .nana{
  text-align: center;
}
header .fa-comments{
  font-size: 55px;
}
header a,
header a:hover{
  color: white;
  text-decoration: none;
}
/*Recentes */
.imagem{
  height: 300px;
}

/* MAIN */
main{ 
  background-color: #F5F5F5;
  height: auto;
  margin-top: 50px;
}
/*ASIDE*/
aside{
  background-color: #D9D9D9;
  height: auto;
  margin-top: 50px;
}
aside img{
  width: 100%;
}

/* FOOTER */
.text-center {
  width: 1190px;
  margin-left: 40px;
  margin-top: 30px;
 
}