/* HEADER */
header{
  margin-top: 20px;
  justify-content: space-between;
  background: linear-gradient(to left, #993deab8, #560070cf);
  color: #FFF;
  height: 90px;
  text-align: center;
  padding: 1em;
}
header .nana{
  text-align: center;
}
header .fa-comments{
  font-size: 55px;
}
header a,
header a:hover{
  color: white;
  text-decoration: none;
}
/*Recentes */
.imagem{
  height: 270px;
  width: 360px;
}

/* MAIN */
main{ 
  background-color: #F5F5F5;
  height: auto;
  margin-top: 50px;
}
/*MENU*/
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #570d74;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 100px;
  box-shadow: inset 0 0 2000px rgb(30, 2, 45);
  height: 80vh;
  width: 500vh;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -30px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  z-index: 9999;
}


.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.2rem;
  color: #000000;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}
.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgba(171, 146, 176, 0.345);
}
/*ASIDE*/
aside{
  background-color: #e9e8e8;
  height: auto;
  margin-top: 50px;
}
aside img{
  height: 270px;
  width: 360px;
  margin-left: 15px;
}
.asideparagrafo{
  font-size: 18px;
  margin-top: 10px;
}

/* FOOTER */
.text-center {
  width: 100%;
  margin-left: 10px;
}



.title{
  font-size: 60px;
  text-align: justify;
  
}
.subtitle{
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}
#pgNoticia p{
  width: 70%;
  margin-left: 15%;
}
#pgNoticia h1{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
.img1{
  margin-left: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.conteudo{
  text-align: justify;
}
.img2{
  margin-left: 280px;
  height: 430px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.h6{
  margin-top: 30px;
  margin-left: 185px;
}
.h62{
  margin-left: 185px;
}

