header{
 background-color: aqua;
 height: auto;
}

main{ 
  background-color: palevioletred;
  height: auto;
}
aside{
  background-color: blue;
  height: auto;
}

footer{
  background-color: green;
  height: auto;
}

header, i{
  color: black;
  size: 30px;
}